.meldungen {
	border:           1px solid #999999;
	background-color: #dddddd;
	padding:          10px;
	position:         fixed;
	text-align:       center;
}

.meldungen_form_data {
	text-align:  left;
	line-height: 2;
}

.meldungen_headline {
	font-weight: bold;
	font-size:   14px;
	display:     inline-block;
	height:      25px;
}

.meldungen_highlight {
	display: inline-block;
	font-weight: 600;
	width: 105px;
}

.meldungen_element_box {
	float:            left;
	padding:          5px;
	background-color: #dddddd;
	clear:            both;
	width:            100%;
}

.meldungen_element_box:hover {
	background-color: #eeeeee;
}

.meldung_info {
	font-weight: bold;
	color:       #2c881d;
}

#meldungen_hits > span {
	cursor: pointer;
}

.meldung_error {
	font-weight: bold;
	color:       #f40000;
}

.field_value {
	width:      150px;
	padding:    2px;
	float:      left;
	text-align: left;
}

.dialog_group {
	list-style-type: none;
	margin:          0;
	padding:         0;
}

.dialog_group li {
	margin-right:  3px;
	margin-bottom: 3px;
	padding:       1px;
	float:         left;
	text-align:    center;
	line-height:   1;
}

.dialog_group li img {
	vertical-align: text-bottom;
}

.dialog_group .ui-selecting {
	background: rgb(165, 4, 4) !important;
}

.dialog_group .ui-selected {
	background: rgba(165, 4, 4, 0.65) !important;
	color:      white !important;
}