.feed_item {
	margin-bottom: 10px;
	width:         625px;
	border-bottom: 1px solid #777777;
}

.feed_item_splitter {
	width:  400px;
	margin: 10px auto 20px auto;
}

.feed_item_header {
	font-size:      36px;
	color:          #333333;
	padding-bottom: 10px;
}

.feed_item_header a {
	color: #333333 !important;
}

.feed_item_header a:hover {
	color: #f40000 !important;
}

.feed_item_subheader {
	font-size:      16px;
	color:          #4d4d4d;
	padding-bottom: 10px;
}

h2.feed_item_header > a {
	font-size: 24px;
}

.feed_item_content {
	padding-bottom: 10px;
}

.feed_item_content ul {
	padding-top:    5px;
	padding-bottom: 5px;
}

.feed_item_content img {
	padding-top:    5px;
	padding-bottom: 5px;
}

.feed_item_content iframe {
	padding-top:    5px;
	padding-bottom: 5px;
	width:          625px;
	height:         382px;
	border:         none;
}

.feed_item_footer {
	padding-bottom: 10px;
}

#loaderInfo {
	float:     left;
	font-size: 18px;
	color:     #4d4d4d;
}

.news_control_item {
	margin-top:    5px;
	margin-bottom: 5px;
	width:         625px;
	float:         left;
}

.news_control_item h3 {
	font-size: 18px;
	padding:   5px;
}

.news_control_item_info {
	float:          left;
	width:          190px;
	padding-bottom: 5px;
	padding-left:   5px;
}

.news_control_item_title {
	font-weight: bold;
}