.forum_header {
    font-weight: bold;
}

.forum_control {
    float: right;
    font-weight: normal;
}

.forum_header a {
	font-size: 17px;
	font-weight: 600;
}
.forum_content {
	color: #4d4d4d;
	font-style: italic;
	line-height: 1.2em;
	padding: 7px 0;
}
.forum {
	margin-bottom: 15px;
	margin-top: 5px;
	padding: 10px;
}
.forum_control a {
	font-size: 14px;
	cursor: pointer;
}