/* Styleinformationen für die Gruppenseiten. */
.anfrage {
	padding:       5px;
	margin-top:    5px;
	margin-bottom: 5px;
}

.anfrage_header {
	font-weight: bold;
}

.anfrage_content {
}

.anfrage_control {
	float:       right;
	font-weight: normal;
}

.usr_control {
	float: left;
	clear: left;
}

.usr_control a {
	cursor:        pointer;
	padding-right: 5px;
	position:      relative;
}

.usr_control a:first-child {
	position: absolute;
}

.usr_control a:last-child {
	position: relative !important;
}

.usr_control a:nth-child(2) {
	padding-left: 100px;
}