.infoBanner {
	background: #dadada;
	position:   fixed;
	width:      100%;
	text-align: center;
	min-height: 25px;
	opacity:    0.85;
	z-index:    99;
	bottom:     0;
}

.infoBannerText {
	margin:     0 auto;
	max-width:  850px;
	text-align: left;
}

.infoBannerControl {
	font-weight:     bold;
	padding-left:    15px;
	text-decoration: underline;
	cursor:          pointer;
}

.infoBannerControl:hover {
	color: #f40000;
}