.post_header {
	font-size: 15px;
	color: #4D4D4D;
	padding-bottom: 10px;
}

.post_form {
	font-size: 16px;
	color: #4D4D4D;
	margin-bottom: 10px;
}

.post {
	width: 630px;
	float: left;
}

.post_avatar {
	float: left;
}

.post_content {
	margin-bottom: 10px;
	margin-left: 15px;
	padding: 10px 10px 35px;
	float: left;
	width: 455px;
	min-height: 91px;
	position: relative;
	border-radius: 5px;
	border: 1px solid #dadada;
	background-color: #fafafa;
}

.post_content img {
	max-width: 455px;
}

.post_content iframe {
	width: 455px;
	height: 286px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
}

.post_content:after, .post_content:before {
	right: 100%;
	top: 60px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.post_content:after {
	border: 20px rgba(241, 241, 241, 0);
	border-right-color: #fafafa;
	margin-top: -20px;
}

.post_content:before {
	border: 21px rgba(218, 218, 218, 0);
	border-right-color: #dadada;
	margin-top: -21px;
}

.post_footer {
	color: #4d4d4d;
	bottom: 0px;
	position: absolute;
	padding-bottom: 5px;
}


.gap{
	float: left;
	padding: 5px;
	margin-bottom: 10px;
	margin-left: 143px;
	width: 465px;
}