@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);

* {
	padding:     0;
	margin:      0;
	font-family: "Source Sans Pro", Arial !important;
	font-size:   15px;
	color:       black;
}

body {
	margin-top:       0;
	background-image: url(../gfx/background.png);
}

a:hover {
	color: #f40000;
}

a:hover i {
	color: #f40000;
}

a[href*="//"]:not([href*="cherriz.de"]):before {
	content:                 "\f08e";
	font-family:             'FontAwesome';
	font-style:              normal;
	font-weight:             normal;
	font-variant:            normal;
	text-transform:          none;
	line-height:             1;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-select:     none;
	-moz-user-select:        none;
	-ms-user-select:         none;
	-o-user-select:          none;
	user-select:             none;
	-webkit-touch-callout:   none;
	font-size:               12px;
	vertical-align:          middle;
	margin-right:            3px;
}

.box {
	border-radius:    5px;
	border:           1px solid #dadada;
	background-image: linear-gradient(0deg, #f1f1f1, #fbfbfb);
}

#main {
	width:  946px;
	margin: 0 auto;
}

#content {
	position:       relative;
	width:          934px;
	float:          left;
	padding-bottom: 25px;
	background:     url(../gfx/content.png) repeat-y;
}

#head {
	width:          900px;
	height:         100px;
	float:          left;
	padding-bottom: 32px;
	background:     url(../gfx/header.png) 155px 20px no-repeat;
}

#nav {
	height:       36px;
	width:        906px;
	float:        left;
	padding-left: 105px;
	background:   url(../gfx/nav_bar.png) 105px 0 no-repeat;
}

#nav ul {
	float:           left;
	list-style-type: none;
	display:         inline;
}

#nav ul li {
	display: inline;
	float:   left;
	width:   126px;
}

#nav ul li a {
	float:           left;
	width:           126px;
	padding-bottom:  8px;
	padding-top:     9px;
	padding-left:    1px;
	text-align:      center;
	text-decoration: none;
	color:           #000000;
	font-size:       16px;
}

#nav ul li a:hover, #nav ul li a.active {
	color:            #ffffff;
	background-image: url(../gfx/nav_button_hover.png);
}

#logo {
	width:            152px;
	height:           202px;
	top:              5px;
	left:             -15px;
	position:         absolute;
	background-image: url(../gfx/cherry.png);
}

#publish {
	width:        600px;
	float:        left;
	padding-top:  40px;
	padding-left: 50px;
	color:        #333333;
	font-size:    14px;
	line-height:  1.5;
	text-align:   justify;
}

#publish h1 {
	font-size:      36px;
	color:          #333333;
	padding-bottom: 10px;
	clear:          both;
}

#publish h2 {
	clear:          both;
	color:          #4d4d4d;
	font-size:      24px;
	font-weight:    600;
	padding-bottom: 10px;
	padding-top:    7px;
}

#publish h3 {
	color:          #f40000;
	padding-top:    5px;
	padding-bottom: 7px;
	clear:          both;
}

#publish a {
	color:           #2c881d;
	text-decoration: none;
}

#publish a:hover {
	color: #f40000;
}

#publish ul {
	list-style-type: none;
}

#publish ul li {
	color:           #000000;
	text-decoration: none;
	padding-left:    13px;
	background:      url(../gfx/submenue.png) 1px 9px no-repeat;
}

#profile_picture {
	float: left;
}

.description_box {
	width:       600px;
	line-height: 2;
	float:       left;
}

.description_attribute_box {
	color:         #999999;
	width:         100px;
	padding-right: 20px;
	text-align:    right;
	float:         left;
}

.description_value_box {
	float:          left;
	padding-right:  10px;
	padding-bottom: 10px;
}

.description_value_box input[type="text"] {
	width:        375px;
	height:       25px;
	margin-right: 5px;
}

#sidebar {
	width:         170px;
	float:         right;
	padding-top:   40px;
	padding-right: 28px;
}

.sidebar_box {
	float:         left;
	width:         170px;
	margin-bottom: 25px;
}

.sidebar_box {
	float:   left;
	width:   156px;
	padding: 10px 7px 10px 7px;
}

#sidebar_box_smedia {
	float: right;
	width: 100px;
}

#sidebar_box_smedia a {
	color:           #000000;
	text-decoration: none;
}

#sidebar_box_smedia a:hover, .sidebar_box_content ul a.active {
	color: #f40000;
}

#sidebar_box_avatar {
	padding-left:   28px;
	padding-bottom: 5px;
}

.sidebar_box h2 {
	font-size:      19px;
	font-weight:    600;
	padding-bottom: 5px;
}

.sidebar_box ul {
	list-style-type: none;
	float:           left;
	width:           156px;
}

.sidebar_box.box li {
	line-height: 1.2em;
	padding:     0 0 3px;
}

.sidebar_box.box span {
	color:     #333333;
	font-size: 14px;
}

.sidebar_box_content_info {
	color:           #f40000;
	text-decoration: none;
	padding-left:    13px;
	background:      url(../gfx/submenue.png) 1px 9px no-repeat;
}

.sidebar_box ul a {
	color:           #000000;
	text-decoration: none;
	padding-left:    13px;
	background:      url(../gfx/submenue.png) 1px 9px no-repeat;
}

.sidebar_box ul a:hover, .sidebar_box ul a.active {
	color:        #f40000;
	padding-left: 13px;
	background:   url(../gfx/submenue_active.png) 1px 9px no-repeat;
}

.sidebar_box p {
	margin-top: 13px;
}

.sidebar_box p:first-child {
	margin-top: 0;
}

#iconTechnik:before {
	content: "\xxx";
}

.icon_sidebar, .icon_sidebar:hover {
	background:   none !important;
	padding-left: 0 !important;
}

.icon_sidebar:before {
	content:      "\f02b";
	margin-right: 5px;
	font-size:    12px;
}

.icon:before {
	font-family:             'FontAwesome';
	font-style:              normal;
	font-weight:             normal;
	font-variant:            normal;
	text-transform:          none;
	line-height:             1;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-user-select:     none;
	-moz-user-select:        none;
	-ms-user-select:         none;
	-o-user-select:          none;
	user-select:             none;
	-webkit-touch-callout:   none
}

.iconTechnik:before {
	content: "\f0ad" !important;
}

.iconGaming:before {
	content: "\f11b" !important;
}

.iconInternet:before {
	content: "\f0f4" !important;
}

.iconWebseite:before {
	content: "\f121" !important;
}

.iconBlog:before {
	content: "\f1ea" !important;
}

.iconBitbucket:before {
	content: "\f171" !important;
}

.iconBildung:before {
	content: "\f19d" !important;
}

.iconZahnraeder:before {
	content: "\f085" !important;
}

.iconRefresh:before {
	content: "\f021" !important;
}

.iconMail:before {
	content:   "\f0e0" !important;
}

.iconFeed:before {
	content:   "\f09e" !important;
	font-size: 48px;
}

.iconQuestion:before {
	float:       right;
	padding-top: 5px;
	font-size:   20px;
	content:     "\f059" !important;
	cursor:      pointer;
}

#footer {
	width:      946px;
	height:     25px;
	float:      left;
	background: url(../gfx/footer.png) no-repeat;
}

#footer_topref {
	float:        right;
	padding-left: 12px;
	margin-right: 40px;
	margin-top:   -40px;
	font:         11px Arial, Verdana, sans-serif;
	background:   url(../gfx/arrow_top.png) no-repeat;
}

h1 {
	clear: both;
}

h2 {
	clear: both;
}

.input_passive {
	color:  #777777;
	float:  left;
	border: 1px solid #ffffff;
	width:  200px;
}

.input_passive:hover {
	border: 1px solid #999999;
}

.input_active {
	color:  #000000;
	float:  left;
	border: 1px solid #ffffff;
	width:  200px;
}

.input_changed {
	color:  #000000;
	float:  left;
	border: 1px solid #ffffff;
	width:  200px;
}

.input_changed:hover {
	border: 1px solid #999999;
}

.input_error {
	color:  #990000;
	float:  left;
	border: 1px solid #ffffff;
	width:  200px;
}

.input_error:hover {
	border: 1px solid #999999;
}

.profile {
	width:         100px;
	height:        120px;
	float:         left;
	padding:       8px;
	margin-right:  10px;
	margin-bottom: 10px;
	font-weight:   bold;
	font-size:     16px;
	line-height:   2em;
}

.profile:hover {
	background-color: #eeeeee;
}

.big_box {
	width:            600px;
	float:            left;
	padding:          10px;
	margin:           10px;
	background-color: #dddddd;
	font-size:        16px;
	line-height:      2em;
}

.big_box:hover {
	background-color: #eeeeee;
}

.selection_object {
	padding:          1px;
	margin:           1px;
	height:           20px;
	background-color: #ddffdd;
	float:            left;
	line-height:      1;
}

.selection_object img {
	vertical-align: text-bottom;
}

.selection_object_field {
	background-color: #ebebe4;
	border:           1px solid #abadb3;
	padding:          1px;
	float:            left;
	clear:            left;
}

.calendar:enabled {
	background: url(../gfx/icon/calendar.gif) no-repeat 99%;
}

.login_element {
	margin-top: 5px;
}

input[type=text].login_element, input[type=password].login_element {
	width: 150px;
}

input[type=submit].login_element {
	width: 50px;
}

.ui-dialog.ui-widget input {
	font-size: 13px;
}